<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3>PIG9 Soluções Financeiras</h3>
            <p></p>
            <ul class="socials">
                <li><a href="https://fb.com"><img src="/img/facebook.png" alt="facebook"></a></li>
                <li><a href="https://instagram.com"><img src="/img/Instagram.png" alt="instagram"></a></li>
                <li><a href="https://twitter.com"><img src="/img/twitter.png" alt="twiter"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021. All rights resevers <span>DHPIGroup9</span></p>
        </div>
    </footer>
</body>
</html>
