<%-include("head") %>
<body>
    <header>
        <div id="logo-img">
            <a href="/dashboard"><img class="logo" src="/img/pi-logo.svg" /></a>
        </div>
        <% if (!user) { %>
            <ul>
                <li><a href="#quemsomos">Quem somos</a></li>
                <li><a href="#comofunciona">Como funciona</a></li>
                <li><a href="#contato">Contato</a></li>
                <li>
                    <form action="/cadastro/login" method="GET">
                        <input type="submit" value="Acesse" />
                    </form>
                </li>
            </ul>
            <% } else{ %>
                <div id="usuario" class="border">
                    <%=user && user.nomeCompleto ? user.nomeCompleto : '' %>
                </div>
                <form action="/cadastro/logout" method="GET">
                    <input type="submit" value="Sair" />
                </form>
                <% } %>
    </header>
