<div class="fixa">
    <input type="checkbox" id="check">
    <label class="mostrar" id="icon" for="check">
        <div class="material-icons size color">
            <span class="size">menu</span>
        </div>
    </label>
    <aside class="side">
        <ul class = format>
            <strong>
                <li class="material-icons size color">
                    <a class="link" href="/transacoes">add_circle<div>Desp/Rec</div></a>
                </li>
                <li class="link"><a href="/dashboard">Dashboard</a></li>
                <li class="link"><a href="/transacoes/lista">Transações</a></li>
                <li class="link"><a href="/planejamento">Planejamento</a></li>
                <li class="link"><a href="/cadastro/listaUsuarios">Relacao de Usuarios</a></li>
            </strong>
        </ul>
    </aside>
</div>