<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/sidebar.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Menu Lateral</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check"></label>
    <div class="menu">
        <span class="material-icons">add</span>
    </div>
    <aside class="side">
        <ul>
            <bottom id="botaoNovo">+ Nova (desp / rec)</bottom>
            <li>Dashboard</li>
            <li>Transações</li>
            <li>Planejamento</li>
            <li>Contas</li>
        </ul>
    </aside>
</body>
</html>

< 