<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/cadastro.css" />
</head>
<body>
  
  <img class="logo-img" src="../img/pi-logo.svg"/>
 
  <div class="formato"> 
  <div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>
    
     <div class="content"></div>


<div id="cadastro">
  <form method="post" action=""> 
    <h1>Cadastro</h1> 
     
    <p> 
      <label for="nome_cad">Seu nome</label>
      <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
    </p>
    <form> 
    <label id="form-dtaNascimento">Data de Nascimento</label>
    <input id="dtaNascimento" type="date" required>
    </form>
      <p> 
        <label id="form-perfilInvestidor">Perfil de Investidor</label>
        <select id="perfilInvestidor" required>
          <option>Conservador</option>    
          <option>Moderado</option>
          <option>Agressivo</option>
      </select>
      </p>
      <label for="email_cad">Seu e-mail</label>
      <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com"/> 
    </p>
     <p>
      <label for="senhaUsuario">Senha</label><br/>    
      <input id="senha" type="password">
      <label for="senhaUsuario">Confirme sua Senha</label><br/>    
      <input id="confsenha" type="password">
     </p>
   
     <p>
      <form id="formBotaoCadastrar" action="/cadastro" method="GET">
        <input class="cadastrar" type="submit" value="Cadastre-se" />
        <p class="link">  
          Já tem conta?
          <a href="../views/login.ejs"> Ir para Login </a>
     </p>
    
  </form>
</div>
</div>
</div>  

      </div>
    </li>
  </ul>
</div>
</body>
</html>
