<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI - Cadastro Usuario</title>
    <link rel="stylesheet" href='/css/cadastro.css'/>
    
</head>
<body>
    <header>
      <%-include("./partials/header.ejs", { title: title })%>
    </header>
    <main>
      <form id='novo-usuario' method="POST" action="/cadastro">
        <label id="form-nomecompleto" for="nomeUsuario">Nome Completo</label>
        <input id="nomecompleto" type="text" name="nomeUsuario"required maxlength="150">
        <label id="form-email" for="emailUsuario">E-mail</label>
        <input id="email" type="email" placeholder="seu-email@email.com" name="emailUsuario"required>   
        <label id="form-dtaNascimento" for="nascimentoUsuario">Data de Nascimento</label>
        <input id="dtaNascimento" type="date" name="nascimentoUsuario"required>
        <label id="form-perfilInvestidor" for="perfilUsuario">Perfil de Investidor</label>
        <select id="perfilInvestidor" name="perfilUsuario"required>
          <option>Conservador</option>    
          <option>Moderado</option>
          <option>Agressivo</option>
        </select>   
        <label id="form-senha" for="senhaUsuario">Senha</label>
        <input id="senha" type="password" name="senhaUsuario" required>
        <label id="form-confsenha" for="confsenhaUsuario">Confirmação de Senha</label>
        <input id="confsenha" type="password" name="confsenhaUsuario" required>    
        <div class="comandos">
          <input id="botaoCadastrar" type="submit" value="Cadastrar" />
        </div>
      </form>                
    </main>
    <footer>
      <%-include("./partials/footer.ejs", { title: title })%>
  </footer>
</body>
    