<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href='/css/cadastro .css' />
    
     

    
    
    <br />
  </head>
  <body>
   
    <form id="novoUsuario" method="POST" action="/cadastro"></form>

    
    <form id="novoUsuario" method="POST" action="/cadastro">
      <label id="formNomeCompleto" for="nomeCompleto">Nome Completo :</label>
      <br />
      <input
        id="nomeUsuario"
        type="text"
        name="nomeCompleto"
        required
        maxlength="150"
        placeholder="Digite seu nome"
      />
      <br />

   
	  <label id="form-dtaNascimento" for="dataNasc">Data de Nascimento:</label><br>
      <input id="nascUsuario" type="date" name="dataNasc" required> <br>

	  <label id="form-perfilInvestidor" for="tipoPerfil">Perfil de Investidor</label> <br>
	  
	  <div class="select">
		<select class="is-focused">
		  <option>Agressivo</option>
		  <option>Moderado</option>
		  <option>Arrojado</option>
		</select>
	  </div>
	  </div>
      <br />

      Endereço completo:<br />
      <input
        type="text"
        name="endereco"
        placeholder="Digite o seu endereço..."/>
    <br />

      
      Cidade e Estado: <br />
      <input type="text" name="cidade" placeholder="Digite a sua cidade..." />
     
      <br />

      <label id="formEmail" for="email">E-mail:</label><br />

      <input
        id="emailUsuario"
        type="email"
        placeholder="seu-email@email.com"
        name="email"
        required
        value="<%= content.email ? content.email : '' %>"/><br />
      <label id="formEmail" for="email">Senha:</label><br />
      <input id="emailUsuario"type="email"placeholder="sua senhaUsuario"name="senhaUsuario"required
        value="<%= content.email ? content.email : '' %>"/><br />
   
    <label id="formBotaoCadastrar" action="/cadastro" method="GET"> <br>
		<form id="formBotaoCadastrar" action="/cadastro" method="GET">
			
				<input class="cadastrar" type="submit" value="Cadastre-se" />
			</form>
		</label>
		
</html>

