<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI - Dashboard</title>
    <link rel="stylesheet" href='/css/dashboard.css'/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <%-include("./partials/header.ejs")%>
    </header>
    <main>
        <%-include("./partials/sidebar.ejs")%>
            <div class="paineldireita">
                <div class="paineldir1">
                    <!-- quando souber como puxar do banco trocamos o input -->
                    <label for="periodo">Periodo</label>
                    <input class="periodo" type="text" placeholder="Janeiro 2021" />
                </div>
                <div class="paineldir2">
                    <!-- quando souber como puxar do banco trocamos o input -->
                    <div class="Saldoatual">
                        <label>Saldo Atual</label><br />
                        <input type="text" placeholder="R$ 1.000,00" /><br />
                    </div>
                    <div class="Totaldespesas">
                        <label>Total Despesas</label><br />
                        <input type="text" placeholder="R$ 2.000,00" /><br />
                    </div>
                    <div class="Totalreceitas">
                        <label>Total Receitas</label><br />
                        <input type="text" placeholder="R$ 3.000,00" /><br />
                    </div>
                </div>
                <div class="paineldir3">
                    Grafico 1
                </div>
                <div class="paineldir4">
                    Grafico 2
                </div>

            </div>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <script>
                let myChart = document.getElementById('myChart').getContext('2d');

                let chart = new Chart(myChart, {
                    type:'pie',
                    data:{
                        labels:['label1','label2','label3','label4','label5','label6'],
                        datasets:[{
                            label: 'Despesas por Categoria',
                            data:[
                                5555,
                                66,
                                15687,
                                652,
                                6599,
                                6699
                            ],
                            backgroundColor:[
                              'rgba(155, 9, 2, 0.6)',
                              'rgba(44, 162, 235, 0.6)',
                              'rgba(5, 2, 192, 0.6)',
                              'rgba(153, 102, 255, 0.6)',
                              'rgba(5, 159, 64, 0.6)',
                              'rgba(000, 99, 182, 0.6)',
                            ]
                        }]
                    }
                })


            </script>


            <div class="paineldir4">
                Grafico 2
            </div>
    
        </div>

    </main>
    <footer>
        <%-include("./partials/footer.ejs")%>
    </footer>
</body>

</html>