* {
    box-sizing: border-box;
}
html{
    font-size: 6.25%;
}
 
 
@font-face {
    font-family:"pidhg9";
    src: url("../fonts/BaiJamjuree-Light.ttf");
}    

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-size:26rem;
    font-family:"pidhg9";
    margin-top: 0;
    margin-left: 40rem;
}

header{
  height:80rem;
  align-self:center;
  margin: 10rem;

}

#novo-usuario{
    display:flex;
    flex-direction:column;
    width:40%;
}

#nomecompleto, #email, #dtaNascimento, #perfilInvestidor, #senha, #confsenha {
    margin-top:4rem;
    margin-bottom: 10rem;
    width:100%;
    height:25rem;
    justify-self:center;
    border-radius:5rem;
}
#form-nomecompleto, #form-email, #form-dtaNascimento, #form-perfilInvestidor, #form-senha, #form-confsenha {
    margin-top:10rem;
    margin-right:300rem;
}

.comandos{
    display:flex;
    margin-bottom:20rem;
    margin-top:20rem;
   }

#botaoCadastrar{
    font-size:30rem;
    border-radius:5rem;
    height: 40rem;
    width:170rem;
    background:#94d4c1;
    border:transparent;
    color:white;
}
