* {
    box-sizing: border-box;
  }
html{
    font-size: 6.25%;
}
 
@font-face {
    font-family:"pidhg9";
    src: url("/fonts/BaiJamjuree-Light.ttf");
}    

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-size:26rem;
    font-family:"pidhg9";
    margin-top: 0;
    margin-left: 0;
}
main{
    display:flex;
    flex-grow:1;
    flex-direction:row;
} 
.paineldireita{
    width:80%;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    margin-left: 250rem;
}
.paineldir1{
    font-size:20rem;
}
canvas {
    border: transparent;
  }
  
.chart-container {
    position: relative;
    margin-top: 50rem;
    margin-right: 30rem;
    height: 400rem;
    width: 400rem;
  }
  
.paineldir2{
    display:flex;
    flex-direction:row;
    margin-bottom:10rem;
    
}
.Saldoatual, .Totaldespesas, .Totalreceitas{
    margin-top:10rem;
    margin-bottom: 10rem;
    margin-right:30rem;
    margin-left: 30rem;
    font-size:20rem;
    text-align: center;
    font-weight: 600;
}

.paineldir3{
    display:flex;
    flex-direction:row;
    height:500rem;
    justify-content: space-around;
    align-self: space-around;
    }

.chart-container{
    margin-bottom:10rem;
    border:transparent;
}
.paineldir4{
    border:1px solid gray;
    height:500rem;
}
