* {
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
    font-size: 6.25%;
    font-family:"pidhg9";
}
@font-face {
    font-family:"pidhg9";
    src: url("fonts/BaiJamjuree-Light.ttf");
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20rem;
    margin-top: 0;
    margin-left: 0;
    position: relative;
}
main{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
} 
.menuesq{
    width: 20%;
    flex-grow: 1;
    display: flex;
    border-right: 1px solid gray;
    flex-direction: column;
}
.menuesq li{
    list-style: none;
    color: darkgray;
}/*
#botaoNovo{
    font-size:20rem;
    border-radius:5rem;
    border:solid 5rem darkgray;
    align-self:left;
    width:200rem;
    height:40rem;
    text-align:center;
    padding-top:5rem;
    padding-bottom:5rem;
}
h1{
    background:#5599DD;
    color:#DDDDDD;
    padding-top: 5px;
    padding-left: 10px;
}
.button.id:btn1{
    background-color: aqua;
}
.button:hover{
	color: #330000;
	background-color: #FFFFFF;
	border-radius: 10px 0px 10px 0px;
}
.grafico{
    width:80%;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-self:center;
}*/
.infos{
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 40px;
    align-items: flex;
}
footer{
    position: relative;
}

@media screen and (min-width: 768px) {
    .infos{
        margin-left: 180px;
        align-self: flex-start;
    }
    p{
        align-items: flex;
    }
}