* {
    box-sizing: border-box;
  }
@font-face {
    font-family:"pidhg9";
    src: url("/fonts/BaiJamjuree-Light.ttf");
}  
html{
    padding: 0;
    margin: 0;
    font-size: 6.25%;
    font-family: "pidhg9";
}
.fixa{
    position:fixed;
}

#check{
    display: none;
}
#icon{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    z-index: 1;
}
.side{
    background-color: rgb(0, 131, 136);
    height: 100%;
    width: 250px;
    position: fixed;
    transition: all .2s linear;
    left: -250px;
}
.size{
    font-size: 45px;
}
.size.color{
    color: #94d4c1;
    font-size: 40px;
}
ul{
    padding: 5px;   
    list-style: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -25%;
}
li div{
    padding-left: 10px;
    display: inline-block;
    font-family: pidhg9;
    font-size: 26rem;
    font-weight: 600;
  
}
li a{
    display:block;
    padding-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover, div:hover{
    color: #000;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    transition: all .2s linear;
    border-bottom: 3px solid rgb(0, 131, 136);
    border-radius: 50px;
}
.link:hover{
    background-color: rgb(204, 245, 250);
}
#check:checked ~ .side {
    transform: translateX(250px);
}
#check:checked ~ .side ul{
    left: 0;
}