* {
    box-sizing: border-box;
  }

@font-face {
    font-family:"pidhg9";
    src: url("/fonts/BaiJamjuree-Light.ttf");
}  
html{
    padding: 0;
    margin: 0;
    font-size: 6.25%;
    font-family: "pidhg9";
}  
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-size:26rem;
    margin-top: 0;
    margin-left: 0;
   
}
header{
    height: 120rem;
    background:#94d4c1;
    width:100vw;
    display:flex;
    justify-content:space-between;
}
.logo{
    width:30%;
    margin:14rem;
    display: flex;
    justify-self: center;
}
header div a{
    display: flex;
    justify-self: center;  
}
#logo-img{
    display: flex;
    justify-self: center;
}
#usuario{
    border:transparent;
    background:#94d4c1;
    display:flex;
    font-weight:bold;
    justify-content:center;
    flex-direction:column;
}
button{
    background:#94d4c1;
    border:transparent;
    color:white;
 }

main{
    display:flex;
    flex-grow:1;
    flex-direction:row;
} 
.menuesq{
    width:20%;
    flex-grow:1;
    display:flex;
    border-right:1px solid gray;
    flex-direction:column;
}
.menuesq li{
    list-style:none;
    color:darkgray;
}

#botaoNovo{
    font-size:20rem;
    border-radius:5rem;
    border:solid 5rem darkgray;
    align-self:center;
    width:200rem;
    height:40rem;
    text-align:center;
    padding-top:10rem;
}
.paineldireita{
    width:80%;
    flex-grow:1;
    display:flex;
    flex-direction:column;
}

.paineldireita2{
    width:80%;
    flex-grow:1;
    display:flex;
    flex-direction:row;
    height:51%
}
.nome-campo{
    width: 40%;
    display:flex;
    flex-direction:column;
    margin-left: 50rem;
    margin-top:30rem;
  
}
.campos{
    width:60%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-top:30rem;
}
#tipo, #categoria, #nome, #valor, #data {
    margin-top:30rem;
    width:350rem;
    height:20rem;
    justify-self:center;
    border-radius:5rem;
}
#form-tipo, #form-categoria, #form-nome, #form-valor, #form-dtpgto {
    border-bottom:1px dashed grey;
    margin-top:20rem;
}
.observacao{
    width: 40%;
    margin-left: 50rem;
    display:flex;
    align-content: flex-start;
    flex-direction:column;
    height:49%
}
#observacao{
    width:720rem;
    height:220rem;
    align-self:flex-start;
    border-radius:5rem;
}
.comandos{
    display:flex;
    justify-content:flex-end;
    position:relative;
    right:36.5%;
    margin-bottom:20rem;
   }
#botaoAdicionar{
    font-size:22rem;
    border-radius:5rem;
}

footer{
    height:110rem;
    background:rgb(226, 226, 226);
    width:100vw;
    display:flex;
}
.esqfooter {
    width:40%;
    color:darkgray;
    align-self:flex-end;
    font-size:22rem;
}
.centfooter{
    width:40%;
}
.redesocial{
    width:20%;
    align-self:center;
}
.redesocial p {
    color:darkgray;
    margin-top:15rem;
    margin-bottom:5rem;
}
#facebook{
    width:15%;
    margin-top:5rem;
}
#instagram{
    width:14%;
    margin-top:5rem;
}
#twitter{
    width:14%;
    margin-top:5rem;
}

