* {
    box-sizing: border-box;
  }
html{
    font-size: 6.25%;
    
}
 
@font-face {
    font-family:"pidhg9";
    src: url("fonts/BaiJamjuree-Light.ttf");
}   

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-size:26rem;
    font-family:"pidhg9";
    margin-top: 0;
    margin-left: 0;
}

header{
    height: 120rem;
    background:#94d4c1;
    width:100vw;
    display:flex;
}
.logo{
    width:30%;
    margin:14rem;
    display: flex;
    justify-self: center;

}
header div a{
    display: flex;
    justify-self: center;  
}
#logo-img{
    display: flex;
    justify-self: center;
}
h2 {
    margin-bottom: 5rem;
    font-size:22rem;
    font-weight:bold;
    margin-left: 5%;
}
p {
    margin-bottom: 10rem;
    text-align:justify;
    width:400rem;
    margin-bottom: 5%;
}
button{
    height: 7vh;
    width: 10vw;
    border-radius: 20px;
    background-color: transparent;
    border-color: #94d4c1;
    margin-left: 5%;
    margin-bottom: 10rem;
    color: black;
    cursor: pointer;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
footer{
    height:150rem;
    background:rgb(226, 226, 226);
    width:100vw;
    display:flex;
}
.esqfooter {
    width:40%;
    color:darkgray;
    align-self:flex-end;
    font-size:22rem;
}
.centfooter{
    width:40%;
}
.redesocial{
    width:20%;
    align-self:center;
}
.redesocial p {
    color:darkgray;
    margin-top:15rem;
    margin-bottom:5rem;
}
#facebook{
    width:15%;
    margin-top:5rem;
}
#instagram{
    width:14%;
    margin-top:5rem;
}
#twitter{
    width:14%;
    margin-top:5rem;
}